body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center; /* Center align all content in the body */
}

/* Navbar styles */
.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center; /* Center align navbar contents */
}

.navbar a {
    display: inline-block;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
