body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center; /* Center align all content in the body */
}

/* Navbar styles */
header {
    background-color: #333;
    overflow: hidden;
    text-align: center; /* Center align navbar contents */
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
}

h1 a{
    margin-bottom: 0;
    text-decoration: none;
}